<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <a href="/">Smashing Jamstack w/11ty</a>
      <nav>
        <a href="/about">About</a>
        <a href="/blog/one">Blog</a>
      </nav>
    </header>

    {{ content }}

    <footer>
      <a href="https://github.com/jlengstorf/smashing-jamstack"
        >see the source code</a
      >
    </footer>
  </body>
</html>
